<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Invitation to Tender</title>

<!-- Style sheet -->
<style type="text/css">
    .Title {font-family: Arial, Helvetica; font-size: 24pt;}
    .SubTitle { font-family: Arial, Helvetica; font-size: 16pt; }
    .SupText { font-family: Arial, Helvetica; font-size: 12pt; font-weight:bold;}
    .Text { font-family: Arial, Helvetica; font-size:11pt; }
    .SubText { font-family: Arial, Helvetica; font-size:10pt; }
    .BorderBotTop { border-bottom: 1px solid #000000; border-top: 1px solid #000000; }
    .BorderAll { border: 1px solid #000000; }
</style>
</head>

<body>

<!-- Page With -->
<table width="750" cellpadding="0" cellspacing="0"><tr><td>

    <!-- Header -->
    <table width="100%">
        <tr>
            <td><img alt="logo" src="../../Images/VaughanLogoPrint.gif" width="180" height="171"/></td>
            <td align="right">
                <table>
                    <tr>
                        <td class="Title" align="center">Building your Vision</td>
                    </tr>
                    <tr>
                        <td class="SubTitle" align="center">w w w . v a u g h a n s . c o m . a u</td>
                    </tr>
                    <tr>
                        <td class="Text">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="Text" align="right">[SOS:Variable:Today Title:Today's Date/]</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <!-- Title -->
    <table width="100%">
        <tr>
            <td class="SubTitle" align="center">INVITATION TO TENDER</td>
        </tr>
    </table>

    <!-- Header -->
    <table width="100%">
        <tr>
            <td align="center">
                <table>
                    <tr>
                        <td class="Text" align="right">TRADE:</td>
                        <td class="Text" align="left">[SOS:Variable:TradeName Title:Trade Name/]</td>
                    </tr>
                    <tr>
                        <td class="Text" align="right" valign="top">S/C:</td>
                        <td class="Text" align="left">
                            [SOS:Variable:SubcontractorName Title:Subcontractor/]
                            <br />
                            [SOS:Variable:SubcontractorAddress Title:Address/]
                        </td>
                    </tr>
                    <tr>
                        <td class="Text" align="right">ATT:</td>
                        <td class="Text" align="left">[SOS:Variable:SubcontractorContact Title:Contact/]</td>
                    </tr>
                    <tr>
                        <td class="Text" align="right">PH:</td>
                        <td align="left">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="Text">[SOS:Variable:SubcontractorPhone Title:Phone/]</td>
                                    <td class="Text">&nbsp;</td>
                                    <td class="Text">FAX:</td>
                                    <td class="Text">[SOS:Variable:SubcontractorFax Title:Fax/]</td>                                
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <table width="100%">
        <tr>
            <td class="Text">&nbsp;</td>
        </tr>
        <tr>
            <td class="Text">Dear Sir/Madam,</td>
        </tr>
        <tr>
            <td class="Text">&nbsp;</td>
        </tr>
    </table>
    
    <table width="100%">
        <tr>
            <td class="Text"><b>PROJECT:</b>&nbsp;[SOS:Variable:ProjectName Title:Project Name/]</td>
            <td class="Text" align="right"><b>JOB NO:</b>&nbsp;[SOS:Variable:ProjectYear Title:Projet Year/]-[SOS:Variable:ProjectNumber Title:Project Number/]</td>
        </tr>
    </table>
    
    <table width="100%">
        <tr>
            <td>We would be pleased to receive your quotation for your relevant trade(s) on the above Project, all in accordance with the following general information and conditions:</td>
        </tr>
    </table>
    <br />
    
    <table>
        <tr>
            <td class="Text">i)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Project Location:</b>&nbsp;[SOS:Variable:ProjectSuburb Title:Project Suburb/].</td>
        </tr>
        <tr>
            <td class="Text">ii)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Conditions of Contract:</b>&nbsp;MBAV Decon 2 - 1998.</td>
        </tr>
        <tr>
            <td class="Text">iii)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Special Site Allowances:</b>&nbsp;[SOS:Variable:SiteAllowances Title:Site Allowances/].</td>
        </tr>
        <tr>
            <td class="Text">iv)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Special Conditions:</b>&nbsp;Nil.</td>
        </tr>
        <tr>
            <td class="Text">v)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Anticipated Project Commencement Date:</b>&nbsp;[SOS:Variable:ProjectCommencementDate Title:Project Commencement Date/].</td>
        </tr>
        <tr>
            <td class="Text">vi)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Anticipated Project Completion Date:</b>&nbsp;[SOS:Variable:ProjectCompletionDate Title:Project Completion Date/].</td>
        </tr>
        <tr>
            <td class="Text">vii)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Public Liability Insurance:</b>&nbsp;$10M.</td>
        </tr>
        <tr>
            <td class="Text">viii)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Common Law Liability Insurance:</b>&nbsp;Unlimited and in accordance with Workcover Legislation.</td>
        </tr>
        <tr>
            <td class="Text">ix)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Defect Liability Period:</b>&nbsp;[SOS:Variable:DefectsLiability Title:Liability Period/].</td>
        </tr>
        <tr>
            <td class="Text">x)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Liquidated Damages:</b>&nbsp;[SOS:Variable:LiquidatedDamages Title:Liquidated Damages/]</td>
        </tr>
        <tr>
            <td class="Text">xi)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Payments:</b>&nbsp;Monthly Progress Payments.</td>
        </tr>
        <tr>
            <td class="Text">xii)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Retention Money:</b>&nbsp;[SOS:Variable:RetentionToCertification Title:Retention Until Certification (%)/] Practical Completion ([SOS:Variable:RetentionToLdp Title:Retention Until LDP Expiration (%)/] Maintenance Duration) - Bank Guarantee Acceptable.</td>
        </tr>
        <tr>
            <td class="Text">xiii)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Nature of Tender:</b>&nbsp;Firm Lump Sum Price Inclusive Of G.S.T. (Not subject to Rise and Fall cost adjustment).</td>
        </tr>
        <tr>
            <td class="Text">xiv)</td>
            <td class="Text">&nbsp;</td>
            <td class="Text"><b>Tender Closing Date:</b>&nbsp;[SOS:Variable:DueDate Title:Trade Due Date/]</td>
        </tr>
    </table>
    
    [SOS:Footer]
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="width: 34%; font-family: Arial, Helvetica; font-size: 16pt;" valign="bottom">ESTABLISHED 1955</td>
            <td style="width: 33%; font-family: Arial, Helvetica; font-size: 10pt;">
                <b>Melbourne</b><br />
                103 Pelham Street<br />
                Post Office Box 98<br />
                Carlton South Vic 3053<br />
                Telephone: 03 9347 2611<br />
                Facsimile: 03 9347 6130<br />
                Web Page: www.vaughans.com.au
            </td>
            <td style="width: 33%; font-family: Arial, Helvetica; font-size: 10pt;">
                <b>Sydney</b><br />
                9a Commercial Road<br />
                Kingsgrove NSW 2208<br />
                Post Office Box 451<br />
                Kingsgrove NSW 1480<br />
                Telephone: 02 9502 4544<br />
                Facsimile: 02 9502 4463<br />
                Web Page: www.vaughans.com.au
            </td>
        </tr>
    </table>
    [/SOS:Footer]
    
    <span style="page-break-after: always"></span>
            
    <table width="100%">
        <tr>
            <td class="Text">
                Tenders may be sent by facsimile (03) 9347 6130 provided original of Tender is received within 3 working days.<br />
                <br />
                Tenderers may submit in addition to the conforming Tender, proposals for alternatives, systems and other products to those specified.<br />
                <br />
                The lowest of any Tender may not necessarily be accepted.  The selection of a Subcontractor/Supplier will be at Vaughan Constructions discretion.<br />
                <br />
                Documents other than those enclosed are available for viewing at this office.  Tenderers are deemed to have inspected all relevant documents and have accepted such conditions and requirements unless stated in their Tender offer.
            </td>            
        </tr>
        <tr>
            <td class="Text">&nbsp;</td>
        </tr>
        <tr>
            <td class="BorderBotTop">
                <samp class="Text">
                Drawings supplied:
                <br />
                [SOS:Variable:DrawingsSummary Title:Drawings/]
                </samp>
            </td>        
        </tr>
        <tr>
            <td class="BottomLine">&nbsp;</td>
        </tr>
        <tr>
            <td class="BorderAll">
                <samp class="Text">
                Please direct all queries to [SOS:Variable:CAName Title:CA Name/]<br />
                Tel: [SOS:Variable:CAPhone Title:CA Phone/]<br />
                Fax: [SOS:Variable:CAFax Title:CA Fax/]<br />
                Email: [SOS:Variable:CAEmail Title:CA Email/]<br />
                </samp>
            </td>        
        </tr>
        <tr>
            <td class="Text">&nbsp;</td>
        </tr>
        <tr>
            <td class="Text">
                Yours sincerely,<br />
                <b>VAUGHAN CONSTRUCTIONS PTY LTD</b>
            </td>
        </tr>
        <tr>
            <td class="Text">&nbsp;</td>
        </tr>
        <tr>
            <td class="Text">[SOS:Variable:CASignature Title:CA Signature/]</td>
        </tr>
        <tr>
            <td class="Text">[SOS:Variable:CAName Title:CA Name/]</td>
        </tr>
    </table>
    
</td></tr></table>

</body>
</html>
