ff<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Contract Letting Meeting Checklist</title>

<!-- Style sheet -->
<style type="text/css">
    .SupText { font-family:Arial Narrow, Arial, Helvetica; font-size: 12pt; font-weight:bold;}
    .Text { font-family:Arial Narrow, Arial, Helvetica; font-size:11pt; }
    .SubText { font-family:Arial Narrow, Arial, Helvetica; font-size:10pt; }
</style>
</head>

<body>

<!-- Page With -->
<table width="750" cellpadding="0" cellspacing="0"><tr><td>

<table style="width:100%" cellpadding="1" cellspacing="0" border="1">
    <tr>
        <td style="width:74%">
            <table cellpadding="0" cellspacing="0" style="width:100%">
                <tr>
                    <td class="SubText">Authorised:</td>
                    <td class="Text" align="center">VAUGHAN CONSTRUCTIONS PTY LTD</td>
                </tr>
            </table>            
        </td>
        <td class="Text" style="width:13%">&nbsp;</td>
        <td class="SubText" style="width:13%" align="right">Date: 5/9/01</td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" style="width:100%">
                <tr>
                    <td class="SubText">Document:</td>
                    <td class="SubText" align="center">Order Letting Meeting Checklist</td>
                </tr>
            </table>            
        </td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText" align="right">Rev: 4</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SupText">ORDER LETTING MEETING CHECKLIST</td>
        <td class="SupText">DATE:</td>
        <td class="SupText"><b>[SOS:Variable:Today Title:Date/]</b></td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">FOLLOWING IS A LIST OF ITEMS THAT MUST BE DISCUSSED AND MINUTED AT THE MEETING</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">
            WHO ATENDED THE MEETING: <b>[SOS:Variable:PMName Title:PM Name/], [SOS:Variable:CAName Title:CA Name/],
            [SOS:Variable:SubcontractorContact Title:Subcontractor Contact/]</b>
        </td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">
            SUBCONTRACTORS NAME AND CONTACT PHONES NOS.:<b>[SOS:Variable:SubcontractorName Title:Subcontractor Name/] 
            [SOS:Variable:SubcontractorPhone Title:Subcontractor Phone/]</b>
        </td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">
            After hours contact details: 
            <b>[SOS:Variable:SubcontractorContact Title:Subcontractor Contact/]</b>
            <b>[SOS:Variable:SubcontractorContactPhone Title:Contact Phone/]</b>
            <b>[SOS:Variable:SubcontractorContactEmail Title:Contact Email/]</b>
        </td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">
            PROJECT NAME AND NUMBER: 
            <b>[SOS:Variable:ProjectName Title:Project Name/]</b>
            &nbsp;
            <b>[SOS:Variable:ProjectYear Title:Project Year/]-[SOS:Variable:OrderNumber Title:Order Number/]</b>
            After hours contact details: 
            <b>[SOS:Variable:SubcontractorContact Title:Subcontractor Contact/]</b>
            <b>[SOS:Variable:SubcontractorContactPhone Title:Contact Phone/]</b>
        </td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">CONTRACT DOCUMENTS (DRAWINGS / SPEC / OTHER)</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3"><b>[SOS:Variable:DrawingsSummary Title:Drawings Summary/]</b></td>
    </tr>
    <tr>
        <td class="SubText">ORIGINAL QUOTED SUM AND DATE</td>
        <td class="SubText" align="right"><b>[SOS:Variable:ContractValue Title:Value/]</b></td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">AMENDMENTS TO QUOTED SUM</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">DISCOUNTED OFFERED TO SECURE SUBCONTRACT</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SupText">REVISED QUOTED SUM</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">SCOPE OF WORKS&nbsp;&nbsp;<b>[SOS:Variable:TradeName Title:Trade Name/]</b></td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">TRADE CHECKLIST INFILLED (Copy attached)</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">EXCLUSIONS NOTED</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">SAFETY REQUIREMENTS: Refer to VC OH&S Manual (Copy avail.)</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">INDUCTIONS: S'Cont. to present all employees to site prior to commence.</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">SAFE WORK PROCEDURE (by S'Cont prior to site commence.</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">Including - Administrative Controls, Work Method Statement, Job Safety Analysis</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">PROGRAM COMMENCEMENT / COMPLETION (SEPARABLE PORTIONS)</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">CONTRACT CONDITIONS (STANDARD / SPECIAL)</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td class="SubText">COMMERCIAL TERMS(</td>
                    <td class="SubText">LIQD DAM. / </td>
                    <td class="SubText">RETENCION / </td>
                    <td class="SubText">PAYMENT TERMS</td>
                </tr>
                <tr>
                    <td class="SubText">&nbsp;</td>
                    <td class="SubText"><b>[SOS:Variable:LiquidatedDamages Title:Liquidated Damages/]</b></td>
                    <td class="SubText">&nbsp;</td>
                    <td class="SubText">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText">ORDER NO. ISSUED IF APPLICABLE</td>
        <td class="SubText" colspan="2"><b>[SOS:Variable:OrderNumber Title:Order Number/]</b></td>
    </tr>
    <tr>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
        <td class="SubText">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">COPY OF "ORDER LETTING MINUTES" ISSUED TO SUBCONTRACTOR</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">COMMENTS</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="SubText" colspan="3">&nbsp;</td>
    </tr>
</table>

<table style="width:100%" cellpadding="2" cellspacing="0">
    <tr>
        <td>
            <table cellpadding="4">
                <tr>
                    <td class="SubText">VC</td>
                    <td class="SubText" style="width:220px; border-bottom: 1px solid #000000;">
                        <br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td class="SubText" align="right">Date</td>
                    <td class="SubText">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td align="right">
            <table>
                <tr>
                    <td class="SubText"><b>[SOS:Variable:SubcontractorName Title:Subcontractor Name/]</b></td>
                    <td class="SubText" style="width:220px; border-bottom: 1px solid #000000;">
                        <br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td class="SubText" align="right">Date</td>
                    <td class="SubText">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</td></tr></table>

</body>
</html>
