<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Supply Contract</title>

<!-- Style sheet -->
<style type="text/css">
    .Text { font-family:Arial Narrow, Arial, Helvetica; font-size:8pt; }
    .SubTitle { font-family: Arial, Helvetica; font-size: 16pt; }
    .SupSection { font-family: Arial, Helvetica; font-size: 11pt; font-weight: bold; white-space:nowrap; }
    .Section { font-family:Arial, Helvetica; font-size:8pt; font-weight: bold; }
    .SupText { font-family:Arial, Helvetica; font-size: 10pt; font-weight: normal; }
    .SupTextLine { font-family:Arial, Helvetica; font-size: 10pt; border-bottom: 1px dotted #000000; }
</style>
</head>

<body>

<!-- Page With -->
<table width="750" cellpadding="0" cellspacing="0"><tr><td>

<table width="100%">
    <!-- Logo -->
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td><img alt="logo" src="../../Images/VaughanLogoPrint.gif" width="180" height="171"/></td>
                    <td align="right">
                        <table>
                            <tr>
                                <td class="SupSection" align="center">MATERIALS ORDER ONLY</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table>
                                        <tr>
                                            <td class="SubTitle" align="center" style="border: 1px solid #000000;">&nbsp;M([SOS:Variable:ProjectNumber Title:Project Number/])-[SOS:Variable:OrderNumber Title:Order Number/]&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="Text" align="center">
                                    ALL TAX INVOICES MUST<br />
                                    BEAR RELATIVE ORDER NO.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <!-- Title -->
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%;"><b>To:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:SubcontractorName Title:Supplier Name/]</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:4%">&nbsp;</td>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%;"><b>DATE:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:ContractDate Title:Contract Date/]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="SupTextLine" style="width:48%" valign="top" rowspan="2">[SOS:Variable:SubcontractorAddress Title:Supplier Address/]</td>
                    <td style="width:4%">&nbsp;</td>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%; white-space:nowrap;"><b>PROJECT NO:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:ProjectNumber Title:Project Number/]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width:4%">&nbsp;</td>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%; white-space:nowrap;"><b>FOREMAN:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:SiteManager Title:Site Manager/]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%;"><b>PROJECT:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:ProjectName Title:Project Name/]</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:4%">&nbsp;</td>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%; white-space:nowrap;"><b>SITE PHONE:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:SitePhone Title:Site Phone/]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3">&nbsp;</td></tr>
                <tr>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%;"><b>ATTENTION:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:SubcontractorContact Title:Supplier Contact/]</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:4%">&nbsp;</td>
                    <td style="width:48%" valign="top">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="SupText" style="width:1%;"><b>FAX:</b></td>
                                <td class="SupText" style="width:1%;">&nbsp;</td>
                                <td class="SupTextLine" style="width:98%;">[SOS:Variable:SubcontractorFax Title:Supplier Fax/]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Scope -->
<table cellpadding="2" cellspacing="0" border="1" width="100%">
    <tr>
        <td class="SupText" colspan="2">[SOS:Variable:ScopeOfWorks Title:Scope of works/]</td>
    </tr>
    <tr>
        <td class="SupText" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="SupText" colspan="2"><b>PAYMENT TERMS</b> [SOS:Editable:PaymentTerms Title:Payment Terms]30 Days from date of invoice.[/SOS:Editable]</td>
    </tr>
    <tr>
        <td class="SupText" colspan="2"><b>SITE ADDRESS:</b> [SOS:Variable:SiteAddress Title:Site Address/]</td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="SupText" colspan="2"><b>CODE:</b> [SOS:Variable:TradeCode Title:Trade Code/]</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="SupText" colspan="2"><b>ORDERED BY:</b> [SOS:Variable:CAName Title:CA Name/]</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="SupText"><b>AUTHORISED BY:</b> 
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>[SOS:Variable:PMSignature Title:PM Signature/]</td>
                                <td>&nbsp;</td>
                                <td>[SOS:Variable:CASignature Title:CA Signature/]</td>
                            </tr>
                            <tr>
                                <td class="SupText">[SOS:Variable:PMName Title:PM Name/]</td>
                                <td class="SupText">&nbsp;</td>
                                <td class="SupText">[SOS:Variable:CAName Title:CA Name/]</td>
                            </tr>
                        </table>
                        THIS ORDER IS SUBJECT TO CONDITIONS ON REVERSE SIDE
                    </td>
                </tr>
            </table>
        </td>
        <td class="SupText" align="right" valign="bottom">
            [SOS:Financial]
            <table>
                <tr>
                    <td class="SupText" align="right" valign="top"><b>SUB-TOTAL $</b></td>
                    <td class="SupText" align="right" valign="bottom" style="white-space:nowrap;">[SOS:Variable:ContractValue Title:Value/]</td>                    
                </tr>
                <tr>
                    <td class="SupText" align="right" valign="top"><b>GST $</b></td>
                    <td class="SupText" align="right" valign="bottom" style="white-space:nowrap;">[SOS:Variable:ContractGST Title:GST/]</td>
                </tr>
                <tr>
                    <td class="SupText" align="right" valign="top">
                        <br />
                        <b>TOTAL $</b>
                    </td>
                    <td class="SupText" align="right" valign="bottom" style="white-space:nowrap;">[SOS:Variable:ContractTotal Title:Total/]</td>
                </tr>
            </table>
            [/SOS:Financial]
        </td>
    </tr>
    
</table>

</td></tr></table>

</body>
</html>
