<?xml version="1.0" encoding="utf-8" ?>
<SOS>
    <Global>
        <List ID="Settings">
            <ListItem Name="CompanyInitials" Value="VC" />
            <ListItem Name="CompanyShortName" Value="Vaughan" />
            <ListItem Name="CompanyLongName" Value="Vaughan Constructions Pty. Ltd." />
            <ListItem Name="GST" Value="0.10" />
        </List>
        <List ID="States">
            <ListItem Name="New South Wales" Value="NSW" />
            <ListItem Name="Northern Territory" Value="NT" />
            <ListItem Name="Queensland" Value="QLD" />
            <ListItem Name="South Australia" Value="SA" />
            <ListItem Name="Tasmania" Value="TAS" />
            <ListItem Name="Victoria" Value="VIC" />
            <ListItem Name="Western Australia" Value="WA" />
        </List>
        <List ID="ContactTypes">
            <ListItem Name="" Value="" />
            <ListItem Name="Subcontractor" Value="SC" />
        </List>
        <List ID="EmployeeTypes">
            <ListItem Name="" Value="" />
            <ListItem Name="System Administrator" Value="AD" />
            <ListItem Name="Managing Director" Value="MD" />
            <ListItem Name="Construction Manager" Value="CM" />
            <ListItem Name="Contracts Administrator" Value="CA" />
            <ListItem Name="Project Manager" Value="PM" />
            <ListItem Name="Design Coordinator" Value="DC" />
            <ListItem Name="Design Manager" Value="DM" />
            <ListItem Name="Secretarial" Value="RO" />
            <ListItem Name="Budget Administrator" Value="BA" />
          <!--San To add new process steps to COM-->
            <ListItem Name="Commercial Manager" Value="COM" />
            <ListItem Name=" Junior Contracts Administrator" Value="JCA" />
          <!--San-->
        </List>
        <List ID="ParticipationStatus">
            <ListItem Name="" Value="" />
            <ListItem Name="New" Value="NE" />
            <ListItem Name="Invited" Value="IN" />
            <ListItem Name="Open" Value="OP" />
            <ListItem Name="In Progress" Value="IP" />
            <ListItem Name="Submitted" Value="SU" />
            <ListItem Name="Pulled Out" Value="PO" />
        </List>
        <List ID="VariationTypes">
            <ListItem Name="Vaughan" Value="V" />
            <ListItem Name="Design" Value="DV" />
            <ListItem Name="Client" Value="CV" />
            <ListItem Name="Separate Account" Value="SA" />
            <ListItem Name="Bill of Quantities" Value="BOQ" />
            <ListItem Name="Back Charge" Value="BC" />
        </List>
        <List ID="ProjectStatus">
            <ListItem Name="Proposal" Value="PR" />
            <ListItem Name="Active" Value="AT" />
            <ListItem Name="Complete" Value="CP" />
            <ListItem Name="Complete with tasks" Value="CT" />
        </List>
        <List ID="PaymentTerms">
            <ListItem Name="Monthly" Value="M" />
            <ListItem Name="Forthnightly" Value="F" />
        </List>
        <List ID="ClaimFrequency">
            <ListItem Name="Monthly" Value="M" />
            <ListItem Name="Forthnightly" Value="F" />
        </List>
    </Global>
    <Trades>
        <List ID="Settings">
            <ListItem Name="DaysToInvitationDate" Value="-12" />
            <ListItem Name="DaysToDueDate" Value="-5" />
            <ListItem Name="DaysToComparisonDueDate" Value="-3" />
            <ListItem Name="DaysToContractDueDate" Value="6" />
            <ListItem Name="DaysToFinalDate" Value="3" />
        </List>
    </Trades>
    <Transmittals>
        <List ID="DeliveryMethod">
          <!--San Added new  transmittals delivery method-->
            <ListItem Name="Download from SOS" Value="DLS" />
          <!--San-->
            <ListItem Name="SOS Email Express" Value="EM" />
            <ListItem Name="Hand" Value="HA" />
            <ListItem Name="Mail" Value="MA" />
            <ListItem Name="Our messenger" Value="OM" />
            <ListItem Name="Your messenger" Value="YM" />
          
          
        </List>
        <List ID="TransmittalType">
            <ListItem Name="Sketch Drawings" Value="SKD" />
            <ListItem Name="Architectural Working Drawings" Value="ARD" />
            <ListItem Name="Engineer's Drawings" Value="END" />
            <ListItem Name="Specifications" Value="SPE" />
            <ListItem Name="Shop Drawings" Value="SHD" />
            <ListItem Name="Letter" Value="LET" />
            <ListItem Name="Contract Documents" Value="COD" />
            <ListItem Name="Originals" Value="ORI" />
            <ListItem Name="Civil Drawings" Value="CID" />
            <ListItem Name="Hydraulic Drawings" Value="HYD" />
            <ListItem Name="Electrical Drawings" Value="ELD" />
            <ListItem Name="Mechanical Drawings" Value="MED" />
            <ListItem Name="Tender Documents" Value="TDO" />
            <ListItem Name="Tender Amendment" Value="TAM" />
            <ListItem Name="Tender Clarifications" Value="TCL" />
            <ListItem Name="Sample" Value="SAM" />
            <ListItem Name="Colour Scheme" Value="CSC" />
            <ListItem Name="Soil Report" Value="SRE" />
        </List>
        <List ID="RequiredAction">
            <ListItem Name="Your written Approval and Return" Value="WA" />
            <ListItem Name="Your Records" Value="YR" />
            <ListItem Name="For your Further Action" Value="FA" />
            <ListItem Name="Amendment and Resubmittal" Value="AR" />
            <ListItem Name="Submit quotation" Value="SQ" />
            <ListItem Name="Tender" Value="T" />
        </List>
    </Transmittals>
    <RFI>
        <List ID="Status">
            <ListItem Name="New" Value="N" />
            <ListItem Name="Sent" Value="S" />
            <ListItem Name="Replied" Value="R" />
            <ListItem Name="Cancelled" Value="C" />
        </List>
        <List ID="Settings">
            <ListItem Name="DaysToResponse" Value="5" />
        </List>
    </RFI>
</SOS>
