<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- <add name="SOSTestConnectionString" connectionString="Data Source=VC-AUD6160G9N\SQLEXPRESS2014;Initial Catalog=SOSTest;Persist Security Info=True;User ID=sa;Password=v@ugh@n2016" providerName="System.Data.SqlClient"/>
  
  -->
  </connectionStrings>
  <appSettings>
    <!--add key="ConnectionString" value="Server=SOSV2;Database=SOS;uid=SOSApp;pwd=SOSApp;" 
    
    
    /-->
    <add key="ConnectionString" value="Server=VC-SQL-01;Database=SOSTest;uid=SOSApp;pwd=!Pr0j3ctS0S;"/>
    <!--Data Source=VC-AUD6160G9N\SQLEXPRESS2014;Initial Catalog=SOSTest;Persist Security Info=True;User ID=sa;Password=v@ugh@n2016"/> -->
    <!--Server=VC-AUD6160G9N\SQLEXPRESS2014 Database=SOSTest;uid=sa;pwd=v@ugh@an2016;" /-->
    <add key="BaseUrl" value="http://localhost:1202"/>
    <add key="SubcontractorUrl" value="http://www.vaughan.au/sos"/>
    <add key="DefaultMedia" value="A4"/>
    <add key="EmailSmtpServer" value="192.168.1.105"/><!--localhost-->
   <add key="EmailFrom" value="sos@vaughans.com.au"/> <!--Administrator@sos.loc-->
    <add key="EmailAccounts" value="accounts@vaughans.com.au"/>  <!--Administrator@sos.loc-->
    <add key="EmailFax" value="mailbox@vaughans.com.au"/>    <!--Administrator@sos.loc-->
    <add key="EmailRedirect" value="santosh.Nayak@vaughans.com.au"/>    <!--Administrator@sos.loc-->
    <add key="EmailMaxSize" value="10485760"/>
    <add key="DocumentsFolder" value="\\vc-exchange-03.vaughans.com.au\Jobs"/>
    <!--C:\Developments\SOS_Source\Current\TEMP"/-->
    <add key="QuotesFilesFolder" value="QuotesFiles"/>
    <add key="DeepZoomCode" value="Remote"/>
  </appSettings>
  <system.web>
    <!-- Show detail errors. Comment out in production -->
    <customErrors mode="Off"/>
    <!-- Change to debug="false" for production       89845DCD8080CC91-->
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
    </compilation>
    <sessionState mode="InProc"/>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add tagPrefix="sos" tagName="TitleBar" src="~/Modules/Core/Controls/TitleBar.ascx"/>
        <add tagPrefix="sos" tagName="ErrorMessage" src="~/Modules/Core/Controls/ErrorMessage.ascx"/>
        <add tagPrefix="sos" tagName="MainMenu" src="~/Modules/Core/Controls/MainMenu.ascx"/>
        <add tagPrefix="sos" tagName="BooleanViewer" src="~/Modules/Core/Controls/BooleanViewer.ascx"/>
        <add tagPrefix="sos" tagName="BooleanReader" src="~/Modules/Core/Controls/BooleanReader.ascx"/>
        <add tagPrefix="sos" tagName="DateReader" src="~/Modules/Core/Controls/DateReader.ascx"/>
        <add tagPrefix="sos" tagName="FileLabel" src="~/Modules/Core/Controls/FileLabel.ascx"/>
        <add tagPrefix="sos" tagName="FileLink" src="~/Modules/Core/Controls/FileLink.ascx"/>
        <add tagPrefix="sos" tagName="FileSelect" src="~/Modules/Core/Controls/FileSelect.ascx"/>
        <add tagPrefix="sos" tagName="ComboAndTextReader" src="~/Modules/Core/Controls/ComboAndTextReader.ascx"/>
        <add tagPrefix="sos" tagName="CheckComparison" src="~/Modules/Projects/Controls/ComparisonCheck.ascx"/>
        <add tagPrefix="sos" tagName="ViewComparison" src="~/Modules/Projects/Controls/ComparisonView.ascx"/>
        <add tagPrefix="sos" tagName="EditComparison" src="~/Modules/Projects/Controls/ComparisonEdit.ascx"/>
        <add tagPrefix="sos" tagName="ViewQuoteDrawings" src="~/Modules/Projects/Controls/QuoteDrawingsView.ascx"/>
        <add tagPrefix="sos" tagName="ProcessManager" src="~/Modules/Projects/Controls/ProcessManager.ascx"/>
        <add tagPrefix="sos" tagName="FilterSelector" src="~/Modules/Projects/Controls/FilterSelector.ascx"/>
        <add tagPrefix="sos" tagName="TradeBudget" src="~/Modules/Projects/Controls/TradeBudget.ascx"/>
        <add tagPrefix="sos" tagName="BalanceInclude" src="~/Modules/Projects/Controls/Controls/BalanceInclude.ascx"/>
      </controls>
    </pages>
    <globalization culture="en-AU" uiCulture="en"/>
    <!-- Comment this out in IIS 7 if Integrated mode is used -->
    <httpHandlers>
      <!-- <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <!-- Add this section in IIS 7 Integrated mode
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    
    
    
     -->
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <!-- Used only in Dev to bypass email server -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="E:\SOS\Maildrop"/>
      </smtp>
    </mailSettings>
  </system.net>


  <!--<system.transactions>
    <machineSettings maxTimeout="00:05:00" />
  </system.transactions>-->
  
  <!-- To configure timeouts -->
  <system.web>
    <httpRuntime executionTimeout="300"/>
  </system.web>
</configuration>