<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="SOSTestConnectionString" connectionString="Data Source=IMX700\SQLEXPRESS;Integrated Security=False;User ID=legend;Password=Quest02@;Initial Catalog=SOS_LIVE; Pooling=false" providerName="System.Data.SqlClient"/>-->
    <add providerName="System.Data.SqlClient" connectionString="Data Source=VC-SQL-02;Initial Catalog=SOS;User ID=SOSApp;Password=V@ugh@ns;" name="SOSTestConnectionString" />
    <!--<add name="SOSTest_ProConnectionString" connectionString="Data Source=VC-SQL-02;Initial Catalog=SOSTest_Pro;Integrated Security=True"-->
    <!--providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--#-->
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=IMX700\SQLEXPRESS;Integrated Security=False;User ID=legend;Password=Quest02@;Initial Catalog=SOS_LIVE;Pooling=true;Connect Timeout=3000;"/>-->
    <add value="Server=VC-SQL-02;Database=SOS;uid=SOSApp;pwd=V@ugh@ns;" key="ConnectionString" />
    <!--SOSTest_Pro__    V@ugh@ns-!Pr0j3ctS0S     -->
    <!--<add key="ConnectionString" value="Server=VC-SQL-02;Database=SOS;uid=SOSApp;pwd=V@ugh@ns;Pooling=true;Connect Timeout=3000;"/>    -->
    <!--SOSTest_Pro__    V@ugh@ns-!Pr0j3ctS0S     -->
    <add key="BaseUrl" value="http://vc-sos-03:8080" />
    <add key="SubcontractorUrl" value="https://sos.vaughans.com.au" />
    <add key="DefaultMedia" value="A4" />
    <add key="EmailSmtpServer" value="smtp.office365.com" />
    <!-- 192.168.1.105"-->
    <add key="EmailFrom" value="vaughanconstructions@vaughans.com.au" />
    <add key="EmailAccounts" value="accounts1@vaughans.com.au" />
    <add key="EmailFax" value="mailbox@vaughans.com.au" />
    <!--<add key="EmailRedirect" value="santosh.Nayak@vaughans.com.au"/> -->
    <!--  <add key="EmailRedirect" value="allen.clarke@vaughans.com.au"/>-->
    <add key="EmailRedirect" value="" />
    <add key="EmailMaxSize" value="10485760" />
    <add key="EmailTest" value="" />
    <add key="DocumentsFolder" value="\\vc-exchange-03.vaughans.com.au\Jobs" />
    <add key="DocumentsFolder" value="\\vaughans.com.au\dfs\Jobs" />
    <!--"\\vc-exchange-03.vaughans.com.au\Jobs"-->
    <add key="QuotesFilesFolder" value="QuotesFiles" />
    <add key="SiteOrdersFolder" value="D:\DosDocs\Prod\" />
    <add key="SiteOrdersSharepointFolder" value="D:\OneDrive\Mobile\OneDrive - Vaughan Constructions\DOS Document Library" />
    <add key="DeepZoomCode" value="Remote" />
    <add key="SubcontractorsPrequalificationForm" value="\\vc-exchange-03.vaughans.com.au\Construction\Subcontractors\PrequalificationForms" />
    <!--San- from ClientSos.vaughans.com.au\RFIresponse folder -->
    <add key="RFIsResponseFolder" value="\RFIsResponse" />
    <!--#-->
    <!--#D:\SOS\Prod\Website\Reports-->
    <add key="SubcontractorsQualifications" value="SOS-IT\\SubcontractorsQualifications" />
    <add key="ABNRegistrationGUID" value="5ba31bf1-d423-4d54-881f-1ebe32b0c190" />
    <add key="ReportsPath" value="D:\SOS\Prod\Website\Reports" />
    <add key="SOSBatchLogFile" value="D:\SOS\Prod\Logfiles\" />
    <!--#-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>