<?xml version="1.0"?>
<configuration>
  <!--San-->
  <connectionStrings>
    <add name="SOSTestConnectionString" connectionString="Data Source=VC-SQL-02;Initial Catalog=SOS;User ID=SOSApp;Password=V@ugh@ns;" providerName="System.Data.SqlClient"/>
   </connectionStrings>
  <!--San-->
  <appSettings>
    <add key="ConnectionString" value="Server=VC-SQL-02;Database=SOS;uid=SOSApp;pwd=V@ugh@ns;"/> 
    <add key="BaseUrl" value="http://vc-sos-03"/>
    <add key="SubcontractorUrl" value="https://sos.vaughans.com.au"/>
    <add key="DefaultMedia" value="A4"/>
    <add key="EmailSmtpServer" value="10.10.1.28"/>
    <!--192.168.1.105" />-->
    <add key="EmailTest" value=""/>
    <add key="EmailFrom" value="vaughanconstructions@vaughans.com.au"/>
    <add key="EmailAccounts" value="accounts@vaughans.com.au"/>
    <add key="EmailFax" value="mailbox@vaughans.com.au"/>
    <add key="EmailRedirect" value=""/>
    <add key="EmailMaxSize" value="10485760"/>
    <add key="DocumentsFolder" value="\\vc-fp-02\Jobs"/>
    <add key="QuotesFilesFolder" value="QuotesFiles"/>
    <add key="SiteOrdersFolder" value="D:\DosDocs\Prod\"/>
    <add key="SiteOrdersSharepointFolder" value="D:\OneDrive\Mobile\OneDrive - Vaughan Constructions\DOS Document Library"/>
    <add key="DeepZoomCode" value="Remote"/>
    <!--San- from ClientSos.vaughans.com.au\RFIresponse folder -->
    <add key="RFIsResponseFolder" value="\\vc-web-01\c$\SOS\Prod\WebappClientSite\RFIsResponse"/>
    <!--San-->
    <!--San-->
    <add key="SubcontractorsQualifications" value="SOS-IT\\SubcontractorsQualifications"/>
    <!--San-->
    <add key="ABNRegistrationGUID" value="5ba31bf1-d423-4d54-881f-1ebe32b0c190"/>
	<!--DS20231010-->  
    <add key="ReportsPath" value="D:\SOS\Prod\Website\Reports"/>  </appSettings>
  <system.web>
    <!-- Show detail errors. Comment out in production -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <!-- Change to debug="false" for production -->
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <sessionState mode="InProc" timeout="120"/>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <!-- San
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91, processorArchitecture=MSIL" />
        -->
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91, processorArchitecture=MSIL"/>
        <add tagPrefix="sos" tagName="TitleBar" src="~/Modules/Core/Controls/TitleBar.ascx"/>
        <add tagPrefix="sos" tagName="ErrorMessage" src="~/Modules/Core/Controls/ErrorMessage.ascx"/>
        <add tagPrefix="sos" tagName="MainMenu" src="~/Modules/Core/Controls/MainMenu.ascx"/>
        <add tagPrefix="sos" tagName="BooleanViewer" src="~/Modules/Core/Controls/BooleanViewer.ascx"/>
        <add tagPrefix="sos" tagName="BooleanReader" src="~/Modules/Core/Controls/BooleanReader.ascx"/>
        <add tagPrefix="sos" tagName="DateReader" src="~/Modules/Core/Controls/DateReader.ascx"/>
        <add tagPrefix="sos" tagName="FileLabel" src="~/Modules/Core/Controls/FileLabel.ascx"/>
        <add tagPrefix="sos" tagName="FileLink" src="~/Modules/Core/Controls/FileLink.ascx"/>
        <add tagPrefix="sos" tagName="FileSelect" src="~/Modules/Core/Controls/FileSelect.ascx"/>
        <add tagPrefix="sos" tagName="ComboAndTextReader" src="~/Modules/Core/Controls/ComboAndTextReader.ascx"/>
        <add tagPrefix="sos" tagName="CheckComparison" src="~/Modules/Projects/Controls/ComparisonCheck.ascx"/>
        <add tagPrefix="sos" tagName="ViewComparison" src="~/Modules/Projects/Controls/ComparisonView.ascx"/>
        <add tagPrefix="sos" tagName="EditComparison" src="~/Modules/Projects/Controls/ComparisonEdit.ascx"/>
        <add tagPrefix="sos" tagName="ViewQuoteDrawings" src="~/Modules/Projects/Controls/QuoteDrawingsView.ascx"/>
        <add tagPrefix="sos" tagName="ProcessManager" src="~/Modules/Projects/Controls/ProcessManager.ascx"/>
        <add tagPrefix="sos" tagName="FilterSelector" src="~/Modules/Projects/Controls/FilterSelector.ascx"/>
        <add tagPrefix="sos" tagName="TradeBudget" src="~/Modules/Projects/Controls/TradeBudget.ascx"/>
        <add tagPrefix="sos" tagName="BalanceInclude" src="~/Modules/Projects/Controls/Controls/BalanceInclude.ascx"/>
      </controls>
    </pages>
    <globalization culture="en-AU" uiCulture="en"/>
  </system.web>
  <system.webServer>
    <handlers>
      <!-- San
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91, processorArchitecture=MSIL" />
      -->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <!--San to run Training Videos-->
    <!--<staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
    </staticContent>-->
    <!--San to run Training Videos-->
    <!--San-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <!--San-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!-- To configure timeouts -->
  <system.web>
    <!--San-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0"/>
    <!--San-->
  </system.web>
  <!--  San-->
  <system.serviceModel>
    <client>
      <endpoint address="http://VC-SOS-03:8080/FileTransferService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="IFileTransferService" name="FileTransferService"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransferService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="67108864" maxStringContentLength="67108864" maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <!--  San-->
</configuration>